# Arquivos de ambiente
.env

# Ambientes virtuais Python
.venv/
venv/

# Dependências Node.js
node_modules/

# Arquivos de build
dist/
build/

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.log
